
<table>
<tr> <td>ID</td> <td>Name</td> <td>Username</td> <td>Auth_token</td> <td> Delete</td> </tr>
<% @users.each do |user| %>
<tr> <td><%= user["id"] %></td> <td><%= user["name"] %></td> <td><%= user["username"] %></td> <td><%= user["auth_token"] %></td> <td><%= "Delete" %></td> </tr>
<% end %>
</table>>