<%=form_with url: signin_path do |f| %>

 	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
 	<%=f.label :username, class: "sr-only"%>
    <%=f.text_field :username, id: :user_username, class: "form-control", placeholder: "username" %>

	<%=f.label :password, class: "sr-only"%>
    <%=f.password_field :password, id: :user_password, class: "form-control", placeholder: "password" %>

	<%= f.submit 'signin' %>
<% end %>

<div class="row">

Not have a account yet!!! <%= link_to " yes? get registed ", signup_path, class: "" %> now
</div> 