<!DOCTYPE html>
<html>
  <head>
    <title>ClientApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Welcome</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to "Register", signup_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, class: "nav-link", method: :delete %>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>

  <% if flash[:alert] %>
    <div class="notice"><%= flash[:alert] %></div>
  <% end %>

    <div class="container">
        <div class="row">

    <div class="text-center offset-md-3">
        <%= yield %>
    </div>
    </div>
</div>



<br /><br /><br /><br /><br /><br /><br />
<hr>
  <div class="container">
    <div class="row">
      <div class="footer" >
        <%=debug(@user) %> 
      </div>
    </div>
  </div>
  <hr>

  </body>
</html>
